@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgba(51, 51, 51, 0.135);
    color: white;
}

.imagem > p 
{    background-color: black;
    width: 400px;}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

footer {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}
